.detail
  position absolute
  width 100%
  top 0
  bottom 75px
  left 0
  .header
    text-align center
    height 50px
    line-height 50px
    border-bottom 1px solid #e3e5e7
    font-size 18px
  .no-data
    text-align center
    margin-top 50px
  .chart-container
    margin 50px auto
    padding 0 20px
    box-sizing border-box