.keep-account
  position absolute
  top 0
  bottom 0
  width 100%
  transition all 0.3s
  background #fff
  &.slide-enter, &.slide-leave-active
    transform translateY(100%)
  .header
    text-align center
    height 50px
    line-height 50px
    border-bottom 1px solid #e3e5e7
    font-size 18px
  .select-bar
    display flex
    height 30px
    width 100px
    margin 15px auto
    border 1px solid #494f67
    border-radius 6px
    .select-button
      flex 1
      color #494f67
      line-height 30px
      text-align center
      &.active
        background #494f67
        color #fff
  .input-bar
    display flex
    justify-content space-around
    padding 0 20px
    .select-account
      flex 0 0 80px
      padding: 4px 10px;
      height: 30px;
      line-height: 30px;
      position: relative;
      cursor: pointer;
      color: #888;
      background: #fafafa;
      border: 1px solid #ddd;
      border-radius: 4px;
      overflow: hidden;
      .text
        .icon
          display inline-block
          vertical-align top
          font-size 24px
          margin 4px 8px 0 0
    .input-box
      flex 0 0 200px
      border: 1px solid #ccc;
      margin-top 2px
      padding: 2px;
      font-size: 1.2em;
      color: #444;
      width: 200px;
      text-align right
      font-family: '黑体'
      height 30px
  .title
    margin-top 20px
    padding 0 30px 0 30px
  .select-reason
    display flex
    flex-wrap wrap
    width 90%
    margin 0 auto
    .reason-item
      justify-content flex-start
      flex 0 0 50px
      text-align center
      margin 10px
      .background
        display inline-block
        width 40px
        height 40px
        background #f0f0f0
        line-height 40px
        border-radius 8px
        color #999
        &.active
          color #fff
          background #ff6b6b
        .icon
          font-size 24px
          vertical-align middle
  .save-button
    display block
    width 300px
    height 30px
    margin 30px auto 100px
    border 0
    background #f45842
    color #fff
    font-family '黑体'